<p-panel header="Pipes Personalizados" class="p-1">
  <p>Pipes personalizados - creados por {{ "Eduardo" | toggleCase : vocal }}</p>
</p-panel>

<p-toolbar>
  <div class="p-toolbar-group-start">
    <p-button
      [label]="'ToggleCase ' + vocal"
      icon="pi pi-search"
      class="mr-2"
      (onClick)="toggleChange()"
    ></p-button>
  </div>
  <div class="p-toolbar-group-end">
    <p-button
      label="Por Nombre"
      icon="pi pi-calendar"
      styleClass="p-button-success mr-2"
      (onClick)="sortBy('name')"
    ></p-button>
    <p-button
      label="Por Volar"
      icon="pi pi-calendar"
      styleClass="p-button-warning mr-2"
      (onClick)="sortBy('canFly')"
    ></p-button>
    <p-button
      label="Por Color"
      icon="pi pi-times"
      styleClass="p-button-danger"
      (onClick)="sortBy('color')"
    ></p-button>
  </div>
</p-toolbar>

<div class="grid">
  <div class="col mt-2">
    <p-panel>
      <p-table [value]="heroes | sortBy:keyHero" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header">
          <tr>
            <th>Name</th>
            <th>Volar</th>
            <th>Color</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-heroe>
          <tr>
            <td>{{ heroe.name }}</td>
            <td>{{ heroe.canFly | canFly }}</td>
            <td>{{ heroe.color }}</td>
          </tr>
        </ng-template>
      </p-table>
    </p-panel>
  </div>
</div>
